src/main/resources/wsdl-latest/av/xsd/AutorizacaoViagemService3.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://lemontech.com.br/selfbooking/wsselfbooking/beans/carro" xmlns:ns1="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/carro">
	<xs:import namespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" schemaLocation="AutorizacaoViagemService1.xsd" />
	<xs:complexType name="carros">
		<xs:sequence>
			<xs:element name="carro" type="tns:carro" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="carro">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="modelo" type="xs:string" minOccurs="0" />
			<xs:element name="nomeLocadora" type="xs:string" minOccurs="0" />
			<xs:element name="localRetirada" type="xs:string" minOccurs="0" />
			<xs:element name="dataRetirada" type="xs:dateTime" minOccurs="0" />
			<xs:element name="localDevolucao" type="xs:string" minOccurs="0" />
			<xs:element name="dataDevolucao" type="xs:dateTime" minOccurs="0" />
			<xs:element name="localizador" type="xs:string" minOccurs="0" />
			<xs:element name="codigoEmissor" type="xs:string" minOccurs="0" />
			<xs:element name="codigoReservador" type="xs:string" minOccurs="0" />
			<xs:element name="nomeReservador" type="xs:string" minOccurs="0" />
			<xs:element name="source" type="xs:string" minOccurs="0" />
			<xs:element name="dataReserva" type="xs:dateTime" minOccurs="0" />
			<xs:element name="diaria" type="xs:double" minOccurs="0" />
			<xs:element name="taxa" type="xs:double" minOccurs="0" />
			<xs:element name="taxaservico" type="xs:double" minOccurs="0" />
			<xs:element name="formaPagamento" type="ns1:formaPagamento" minOccurs="0" />
			<xs:element name="idPassageiroRef" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="justificativaMaiorTarifa" type="xs:string" minOccurs="0" />
			<xs:element name="cidade" type="xs:string" minOccurs="0" />
			<xs:element name="codigoFornecedor" type="xs:string" minOccurs="0" />
			<xs:element name="nacional" type="xs:boolean" minOccurs="0" />
			<xs:element name="observacao" type="xs:string" minOccurs="0" />
			<xs:element name="voucher" type="xs:string" minOccurs="0" />
			<xs:element name="codigoReserva" type="xs:string" minOccurs="0" />
			<xs:element name="codigoJustificativaMaiorTarifa" type="xs:int" minOccurs="0" />
			<xs:element name="identificadorIntegracao" type="xs:string" minOccurs="0" />
			<xs:element name="remarks" type="ns1:remarks" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>