src/main/resources/wsdl-latest/av/xsd/AutorizacaoViagemService4.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://lemontech.com.br/selfbooking/wsselfbooking/beans/aereo" xmlns:ns1="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/aereo">
	<xs:import namespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" schemaLocation="AutorizacaoViagemService1.xsd" />
	<xs:complexType name="aereos">
		<xs:sequence>
			<xs:element name="aereo" type="tns:aereo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereo">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="localizador" type="xs:string" minOccurs="0" />
			<xs:element name="source" type="xs:string" minOccurs="0" />
			<xs:element name="codigoEmissor" type="xs:string" minOccurs="0" />
			<xs:element name="nomeEmissor" type="xs:string" minOccurs="0" />
			<xs:element name="emailEmissor" type="xs:string" minOccurs="0" />
			<xs:element name="codigoReservador" type="xs:string" minOccurs="0" />
			<xs:element name="nomeReservador" type="xs:string" minOccurs="0" />
			<xs:element name="dataVencimento" type="xs:dateTime" minOccurs="0" />
			<xs:element name="dataEmissao" type="xs:dateTime" minOccurs="0" />
			<xs:element name="dataReserva" type="xs:dateTime" minOccurs="0" />
			<xs:element name="menorTarifa" type="xs:double" minOccurs="0" />
			<xs:element name="maiorTarifa" type="xs:double" minOccurs="0" />
			<xs:element name="ciaMenorTarifa" type="xs:string" minOccurs="0" />
			<xs:element name="codigoFornecedor" type="xs:string" minOccurs="0" />
			<xs:element name="idPassageiroRef" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="aereoTarifa" type="tns:aereoTarifa" minOccurs="0" />
			<xs:element name="aereoSeguimento" type="tns:aereoSeguimento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="formaPagamento" type="ns1:formaPagamento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="aereoBilhete" type="tns:aereoBilhete" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="selfbook" type="xs:boolean" />
			<xs:element name="justificativaMaiorTarifa" type="xs:string" minOccurs="0" />
			<xs:element name="canceladoEmitido" type="xs:boolean" minOccurs="0" />
			<xs:element name="nacional" type="xs:boolean" minOccurs="0" />
			<xs:element name="codigoJustificativaMaiorTarifa" type="xs:int" minOccurs="0" />
			<xs:element name="observacao" type="xs:string" minOccurs="0" />
			<xs:element name="tipoVoo" type="xs:string" minOccurs="0" />
			<xs:element name="identificadorIntegracao" type="xs:string" minOccurs="0" />
			<xs:element name="remarks" type="ns1:remarks" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoTarifa">
		<xs:sequence>
			<xs:element name="acordo" type="xs:string" minOccurs="0" />
			<xs:element name="classe" type="ns1:classe" minOccurs="0" />
			<xs:element name="aereoTarifaPax" type="tns:aereoTarifaPax" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoTarifaPax">
		<xs:sequence>
			<xs:element name="tarifa" type="xs:double" minOccurs="0" />
			<xs:element name="taxa" type="xs:double" minOccurs="0" />
			<xs:element name="taxaDu" type="xs:double" minOccurs="0" />
			<xs:element name="tipoPax" type="ns1:tipoPax" minOccurs="0" />
			<xs:element name="quantidadePax" type="xs:int" minOccurs="0" />
			<xs:element name="tarifaSemAcordo" type="xs:double" minOccurs="0" />
			<xs:element name="moeda" type="xs:string" minOccurs="0" />
			<xs:element name="moedaBase" type="xs:string" minOccurs="0" />
			<xs:element name="tarifaBase" type="xs:double" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoSeguimento">
		<xs:sequence>
			<xs:element name="origem" type="xs:string" minOccurs="0" />
			<xs:element name="dataSaida" type="xs:dateTime" minOccurs="0" />
			<xs:element name="destino" type="xs:string" minOccurs="0" />
			<xs:element name="dataChegada" type="xs:dateTime" minOccurs="0" />
			<xs:element name="aereoVoo" type="tns:aereoVoo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="localizadorCia" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoVoo">
		<xs:sequence>
			<xs:element name="idAereoVoo" type="xs:int" minOccurs="0" />
			<xs:element name="origem" type="xs:string" minOccurs="0" />
			<xs:element name="dataSaida" type="xs:dateTime" minOccurs="0" />
			<xs:element name="destino" type="xs:string" minOccurs="0" />
			<xs:element name="dataChegada" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cia" type="tns:cia" minOccurs="0" />
			<xs:element name="ciaOperacao" type="tns:cia" minOccurs="0" />
			<xs:element name="aeronave" type="xs:string" minOccurs="0" />
			<xs:element name="numeroVoo" type="xs:string" minOccurs="0" />
			<xs:element name="milhas" type="xs:double" minOccurs="0" />
			<xs:element name="aereoDetalheParada" type="tns:aereoDetalheParada" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="assento" type="tns:aereoVooAssento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="aereoDetalheBaseTarifa" type="tns:aereoDetalheBaseTarifa" minOccurs="0" />
			<xs:element name="idClasse" type="xs:int" minOccurs="0" />
			<xs:element name="localizadorCia" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cia">
		<xs:sequence>
			<xs:element name="codigoIata" type="xs:string" minOccurs="0" />
			<xs:element name="sigla" type="xs:string" minOccurs="0" />
			<xs:element name="nome" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoDetalheParada">
		<xs:sequence>
			<xs:element name="origem" type="xs:string" minOccurs="0" />
			<xs:element name="dataSaida" type="xs:dateTime" minOccurs="0" />
			<xs:element name="destino" type="xs:string" minOccurs="0" />
			<xs:element name="dataChegada" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoVooAssento">
		<xs:sequence>
			<xs:element name="passageiroRef" type="xs:int" minOccurs="0" />
			<xs:element name="assento" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoDetalheBaseTarifa">
		<xs:sequence>
			<xs:element name="baseTarifaria" type="xs:string" minOccurs="0" />
			<xs:element name="classeTarifaria" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aereoBilhete">
		<xs:sequence>
			<xs:element name="idPassageiroRef" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bilhete" type="xs:string" minOccurs="0" />
			<xs:element name="bilheteOriginal" type="xs:string" minOccurs="0" />
			<xs:element name="isLocalizador" type="xs:boolean" minOccurs="0" />
			<xs:element name="numeroRecibo" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>