src/main/resources/wsdl-latest/xsd/beansAereo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-.-->
<xs:schema version="1.0" targetNamespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/aereo"
	xmlns:tns="http://lemontech.com.br/selfbooking/wsselfbooking/beans/aereo" 
	xmlns:ns1="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" 
	xmlns:ns2="http://lemontech.com.br/selfbooking/wsselfbooking/beans" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
  <xs:import namespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" schemaLocation="beansTypes.xsd"/>
  <xs:import namespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans" schemaLocation="beans.xsd" />

  <xs:complexType name="aereos">
	<xs:sequence>
		<xs:element name="aereo" type="tns:aereo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
  </xs:complexType>
  

  <xs:complexType name="aereo">
    <xs:sequence>
    	<xs:element name="id" type="xs:int" />
    	<xs:element name="localizador" type="xs:string" minOccurs="0" />
    	<xs:element name="localizadorGds" type="xs:boolean" minOccurs="0"/>
    	<xs:element name="source" type="xs:string" minOccurs="0" />
    	<xs:element name="codigoEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="nomeEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="emailEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="codigoReservador" type="xs:string" minOccurs="0" />
    	<xs:element name="nomeReservador" type="xs:string" minOccurs="0" />
    	<xs:element name="dataVencimento" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="dataEmissao" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="dataReserva" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="menorTarifa" type="xs:double" minOccurs="0" />
    	<xs:element name="maiorTarifa" type="xs:double" minOccurs="0" />
    	<xs:element name="ciaMenorTarifa" type="xs:string" minOccurs="0" />
    	<xs:element name="codigoFornecedor" type="xs:string" minOccurs="0" />
        <xs:element name="idPassageiroRef" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="aereoTarifa" type="tns:aereoTarifa" minOccurs="0" />
    	<xs:element name="aereoSeguimento" type="tns:aereoSeguimento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="formaPagamento" type="ns1:formaPagamento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="aereoBilhete" type="tns:aereoBilhete"	nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="selfbook" type="xs:boolean" />
    	<xs:element name="justificativaMaiorTarifa" type="xs:string" minOccurs="0"/>
    	<xs:element name="canceladoEmitido" type="xs:boolean" minOccurs="0"/>
    	<xs:element name="nacional" type="xs:boolean" minOccurs="0" />
    	<xs:element name="codigoJustificativaMaiorTarifa" type="xs:string" minOccurs="0"/>
    	<xs:element name="observacao" type="xs:string" minOccurs="0"/>
    	<xs:element name="tipoVoo" type="xs:string" minOccurs="0"/>
    	<xs:element name="identificadorIntegracao" type="xs:string" minOccurs="0" />
    	<xs:element name="identificadorBackOfficeTipoProduto" type="xs:string" minOccurs="0"/>
    	<xs:element name="remarks" type="ns1:remarks" minOccurs="0" /> 
    	<xs:element name="statusCancelamento" type="xs:int" minOccurs="0"/>
    	<xs:element name="valorMulta" type="xs:double" minOccurs="0"/>
      	<xs:element name="valorReembolso" type="xs:double" minOccurs="0"/>
    	<xs:element name="dataModificacaoStatusCancelamento" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="usuarioModificouStatusCancelamento" type="xs:int" minOccurs="0"/>
    	<xs:element name="totalAereo" type="xs:double" minOccurs="0"/>
		<xs:element name="cancelado" type="xs:boolean"/>
		<xs:element name="identificadoresIntegracao" type="ns1:identificadoresIntegracao" minOccurs="0" />
		<xs:element name="reemissao" type="tns:reemissao" minOccurs="0" />
		<xs:element name="consolidadora" type="ns1:consolidadora" minOccurs="0" />
		<xs:element name="autoEmissao" type="xs:boolean"/>
		<xs:element name="importado" type="xs:boolean"/>
		<xs:element name="online" type="xs:boolean"/>
		<xs:element name="complementoJustificativaMaiorTarifa" type="xs:string" minOccurs="0"/>
		<xs:element name="agenteOnline" type="xs:boolean" />
		<xs:element name="opcaoRota" type="xs:boolean"/>
		<xs:element name="pontoVenda" type="ns1:pontoVendaOrcamento" minOccurs="0" />
		<xs:element name="localizadorPreTripGds" type="xs:string" minOccurs="0" />
		<xs:element name="credencial" type="tns:credencial" minOccurs="0" />
		<xs:element name="ciaValidadora" type="xs:string" minOccurs="0" />
		<xs:element name="milhas" type="xs:int" minOccurs="0"/>
		<xs:element name="codigoConsultor" type="xs:string" minOccurs="0" />
    	<xs:element name="nomeConsultor" type="xs:string" minOccurs="0" />
    	<xs:element name="emailConsultor" type="xs:string" minOccurs="0" />
    	<xs:element name="nomeTipoProduto" type="xs:string" minOccurs="0" />
    	<xs:element name="baseTarifaria" type="xs:string" minOccurs="0" />
    	<xs:element name="agenteCotacao" type="ns1:agente" minOccurs="0" maxOccurs="1" />
    	<xs:element name="agenteEmissao" type="ns1:agente" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoTarifa">
    <xs:sequence>
      <xs:element name="acordo" type="xs:string" minOccurs="0"/>
      <xs:element name="classe" type="ns1:classe" minOccurs="0"/>
      <xs:element name="aereoTarifaPax" type="tns:aereoTarifaPax" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="familiaTarifaria" type="xs:string" minOccurs="0"/>
      <xs:element name="bagagem" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoTarifaPax">
    <xs:sequence>
      <xs:element name="tarifa" type="xs:double" minOccurs="0"/>
      <xs:element name="taxa" type="xs:double" minOccurs="0"/>
      <xs:element name="taxaDu" type="xs:double" minOccurs="0"/>
      <xs:element name="tipoPax" type="ns1:tipoPax" minOccurs="0"/>
      <xs:element name="quantidadePax" type="xs:int" minOccurs="0"/>
      <xs:element name="tarifaSemAcordo" type="xs:double" minOccurs="0" />
      <xs:element name="moeda" type="xs:string" minOccurs="0"/>
   	  <xs:element name="moedaBase" type="xs:string" minOccurs="0"/>
   	  <xs:element name="tarifaBase" type="xs:double" minOccurs="0"/>
   	  <xs:element name="cotacao" type="xs:double" minOccurs="0"/>
   	  <xs:element name="acordo" type="xs:string" minOccurs="0"/>
   	  <xs:element name="totalTarifaPax" type="xs:double" minOccurs="0"/>
   	  <xs:element name="taxaFee" type="xs:double" minOccurs="0"/>
   	  <xs:element name="valorFullFare" type="xs:double" minOccurs="0"/>
   	  <xs:element name="valorTetoForaPolitica" type="xs:double" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoSeguimento">
    <xs:sequence>
      <xs:element name="origem" type="xs:string" minOccurs="0"/>
      <xs:element name="dataSaida" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="destino" type="xs:string" minOccurs="0"/>
      <xs:element name="dataChegada" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="aereoVoo" type="tns:aereoVoo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="localizadorCia" type="xs:string" minOccurs="0"/>
      <xs:element name="milhas" type="xs:double" minOccurs="0"/>
      <xs:element name="paisOrigem" type="xs:string" minOccurs="0"/>
      <xs:element name="estadoOrigem" type="xs:string" minOccurs="0"/>
      <xs:element name="paisDestino" type="xs:string" minOccurs="0"/>
      <xs:element name="estadoDestino" type="xs:string" minOccurs="0"/>
      <xs:element name="cidadeOrigem" type="xs:string" minOccurs="0"/>
      <xs:element name="cidadeDestino" type="xs:string" minOccurs="0"/>
      <xs:element name="dataCancelada" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="statusCancelamento" type="ns1:statusCancelamento" minOccurs="0"/>
      <xs:element name="seguimentoCancelado" type="xs:boolean" minOccurs="0"/>
      <xs:element name="valorTetoPolitica" type="xs:double" minOccurs="0" />
      <xs:element name="solicitacaoAeroporto" type="tns:solicitacaoAeroporto" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoVoo">
    <xs:sequence>
      <xs:element name="idAereoVoo" type="xs:int" minOccurs="0"/>
      <xs:element name="origem" type="xs:string" minOccurs="0"/>
      <xs:element name="dataSaida" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="destino" type="xs:string" minOccurs="0"/>
      <xs:element name="dataChegada" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="cia" type="tns:cia" minOccurs="0"/>
      <xs:element name="ciaOperacao" type="tns:cia" minOccurs="0"/>
      <xs:element name="aeronave" type="xs:string" minOccurs="0"/>
      <xs:element name="numeroVoo" type="xs:string" minOccurs="0"/>
      <xs:element name="milhas" type="xs:double" minOccurs="0"/>
      <xs:element name="aereoDetalheParada" type="tns:aereoDetalheParada" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="assento" type="tns:aereoVooAssento" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="aereoDetalheBaseTarifa" type="tns:aereoDetalheBaseTarifa" minOccurs="0"/>
      <xs:element name="idClasse" type="xs:int" minOccurs="0"/>
      <xs:element name="localizadorCia" type="xs:string" minOccurs="0"/>
      <xs:element name="tipoVoo" type="xs:string" minOccurs="0"/>
      <xs:element name="ciaValidadora" type="tns:cia" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cia">
    <xs:sequence>
      <xs:element name="codigoIata" type="xs:string" minOccurs="0"/>
      <xs:element name="sigla" type="xs:string" minOccurs="0"/>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoDetalheParada">
    <xs:sequence>
      <xs:element name="origem" type="xs:string" minOccurs="0"/>
      <xs:element name="dataSaida" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="destino" type="xs:string" minOccurs="0"/>
      <xs:element name="dataChegada" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoVooAssento">
    <xs:sequence>
      <xs:element name="passageiroRef" type="xs:int" minOccurs="0"/>
      <xs:element name="assento" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoDetalheBaseTarifa">
    <xs:sequence>
      <xs:element name="baseTarifaria" type="xs:string" minOccurs="0"/>
      <xs:element name="classeTarifaria" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aereoBilhete">
    <xs:sequence>
      <xs:element name="idPassageiroRef" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="bilhete" type="xs:string" minOccurs="0"/>
      <xs:element name="bilheteOriginal" type="xs:string" minOccurs="0"/>
      <xs:element name="isLocalizador" type="xs:boolean" minOccurs="0"/>
      <xs:element name="numeroRecibo" type="xs:string" minOccurs="0"/>
      <xs:element name="tourCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reemissao">
    <xs:sequence>
      <xs:element name="bilheteOriginal" type="xs:string" minOccurs="0"/>
      <xs:element name="bilheteReemissao" type="xs:string" minOccurs="0"/>
      <xs:element name="credito" type="xs:double" minOccurs="0"/>
      <xs:element name="multa" type="xs:double" minOccurs="0"/>
      <xs:element name="documentoMulta" type="xs:string" minOccurs="0"/>
      <xs:element name="documentoCredito" type="xs:string" minOccurs="0"/>
      <xs:element name="tipoColetaMulta" type="ns1:tipoColetaMulta" minOccurs="0"/>
      <xs:element name="taxaColeta" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="credencial">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="pedidosAereos">
	<xs:sequence>
		<xs:element name="pedidoAereo" type="tns:pedidoAereo" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoAereo">
	<xs:sequence>
		<xs:element name="aeroportoOrigem" type="xs:string" minOccurs="1" />
		<xs:element name="aeroportoDestino" type="xs:string" minOccurs="1" />
		<xs:element name="dataPartida" type="xs:dateTime" minOccurs="1" />
		<xs:element name="tarifaCombinada" type="xs:boolean" />
		<xs:element name="bagagem" type="xs:boolean" />
	</xs:sequence>
  </xs:complexType>
  


	<!-- SOLICITACAO AEROPORTO  -->
  <xs:complexType name="solicitacaoAeroporto">
	<xs:sequence>
		<xs:element name="idSolicitacaoAeroporto" type="xs:int" minOccurs="0" />
		<xs:element name="usuarioCriador" type="ns2:passageiro" minOccurs="0"/>
		<xs:element name="usuarioConcluiu" type="ns2:passageiro" minOccurs="0"/>
		<xs:element name="usuarioCancelou" type="ns2:passageiro" minOccurs="0"/>
		<xs:element name="baseAtendimento" type="tns:baseAtendimento" minOccurs="0"/>
		<xs:element name="statusSolicitacaoAeroporto" type="tns:statusSolicitacaoAeroporto" minOccurs="0"/>
		<xs:element name="tipoAtendimentoAeroporto" type="tns:tipoAtendimentoAeroporto" minOccurs="0"/>
		<xs:element name="obsConsultor" type="xs:string" minOccurs="0" />
		<xs:element name="obsAtendente" type="xs:string" minOccurs="0" />
		<xs:element name="dataCriacao" type="xs:dateTime" minOccurs="0" />
		<xs:element name="dataFinalizacao" type="xs:dateTime" minOccurs="0" />
		<xs:element name="dataCancelamento" type="xs:dateTime" minOccurs="0" />
		<xs:element name="opcaoAtendimento" type="tns:opcaoAtendimento" minOccurs="0"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="baseAtendimento">
	<xs:sequence>
		<xs:element name="idBaseAtendimento" type="xs:int" minOccurs="0" />
		<xs:element name="atendimentoTerceiro" type="xs:boolean" minOccurs="0"/>
		<xs:element name="email" type="xs:string" minOccurs="0" />
		<xs:element name="informacoes" type="xs:string" minOccurs="0" />
		<xs:element name="ativo" type="xs:boolean" minOccurs="0" />
		<xs:element name="dataCadastro" type="xs:dateTime" minOccurs="0" />
	</xs:sequence>
  </xs:complexType>   
  
	<xs:simpleType name="statusSolicitacaoAeroporto">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PENDENTE" />
			<xs:enumeration value="NO_SHOW" />
			<xs:enumeration value="CANCELADO" />
			<xs:enumeration value="FINALIZADO" />
			<xs:enumeration value="TERCEIRO" />
			<xs:enumeration value="SOLICITACAO_SALVA" />
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="tipoAtendimentoAeroporto">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EMBARQUE" />
			<xs:enumeration value="DESEMBARQUE" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="opcaoAtendimento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PADRAO" />
			<xs:enumeration value="VIP" />
			<xs:enumeration value="EXTRA_ATENDIMENTO" />
		</xs:restriction>
	</xs:simpleType>		
  
  
  <!-- SOLICITACAO AEROPORTO  -->
  
  
  
</xs:schema>