src/main/resources/wsdl-latest/xsd/beansTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.1-b01-. -->
<xs:schema version="1.0"
	targetNamespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types"
	xmlns:tns="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types"
	xmlns:ns1="http://lemontech.com.br/selfbooking/wsselfbooking/common/types"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://lemontech.com.br/selfbooking/wsselfbooking/common/types" schemaLocation="commonTypes.xsd" />

	<xs:complexType name="formaPagamento">
		<xs:sequence>
			<xs:element name="autorizacao" type="xs:string" minOccurs="0" />
			<xs:element name="numero" type="xs:string" minOccurs="0" />
			<xs:element name="parcelas" type="xs:int" minOccurs="0" />
			<xs:element name="valor" type="xs:double" minOccurs="0" />
			<xs:element name="formaPagameno" type="xs:string" />
			<xs:element name="vencimentoCartao" type="xs:dateTime" minOccurs="0" />
			<xs:element name="numeroRequisicaoGov" type="xs:string" minOccurs="0" />
			<xs:element name="tipo" type="tns:enumTipoFormaPagamento" minOccurs="0" />
			<xs:element name="VCN" type="xs:boolean" minOccurs="0"/>
			<xs:element name="fornecedorVCN" type="tns:enumFornecedorVCN" minOccurs="0" />
			<xs:element name="VCNAgencia" type="xs:boolean" minOccurs="0"/>
			<xs:element name="codigoConvenioVCN" type="xs:string" minOccurs="0"/>
			<xs:element name="titularCartao" type="xs:string" minOccurs="0"/>
			<xs:element name="referenciaCartao" type="xs:string" minOccurs="0"/>
			<xs:element name="numeroCartaoMascarado6d" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="acaoMetodo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INSERT" />
			<xs:enumeration value="UPDATE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="resultadoAcao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCESSO" />
			<xs:enumeration value="ERRO" />
			<xs:enumeration value="ALERTA" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="resultadoOperacao">
		<xs:sequence>
			<xs:element name="status" type="tns:resultadoAcao" minOccurs="0" />
			<xs:element name="mensagem" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itensFaturamentoHotel">
		<xs:sequence>
			<xs:element name="itenFaturamento" type="tns:itenFaturamento"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="perfilFuncionarioParametrizacao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="APROVADOR" />
			<xs:enumeration value="SOLICITANTE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoViagem">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TODOS" />
			<xs:enumeration value="NACIONAL" />
			<xs:enumeration value="CONTINENTAL" />
			<xs:enumeration value="INTERNACIONAL" />
			<xs:enumeration value="INTERCONTINENTAL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="garantiaNoShow">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GARANTIA_AGENCIA" />
			<xs:enumeration value="GARANTIA_CARTAO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="itenFaturamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALIMENTOS_BEBIDAS_NAO_ALCOOLICAS" />
			<xs:enumeration value="CAFE_DA_MANHA" />
			<xs:enumeration value="DIARIAS" />
			<xs:enumeration value="LAVANDERIA" />
			<xs:enumeration value="LIGACOES_TELEFONICAS" />
			<xs:enumeration value="TAXAS" />
			<xs:enumeration value="TODAS_DESPESAS_EXCETO_BEBIDAS" />
			<xs:enumeration value="TODAS_DESPESA" />
			<xs:enumeration value="TAXA_TURISMO" />
			<xs:enumeration value="AGUA" />
			<xs:enumeration value="ESTACIONAMENTO" />
			<xs:enumeration value="HORAS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="formaPagamentoHotelConfig">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FATURADO" />
			<xs:enumeration value="CARTAO" />
			<xs:enumeration value="DIRETO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoPassageiro">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TODOS" />
			<xs:enumeration value="PASSAGEIRO" />
			<xs:enumeration value="TERCEIRO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoPax">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADT" />
			<xs:enumeration value="CHD" />
			<xs:enumeration value="INF" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bandeiraCartao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VISA" />
			<xs:enumeration value="MASTERCARD" />
			<xs:enumeration value="AMEX" />
			<xs:enumeration value="HIPER_CARD" />
			<xs:enumeration value="DINERS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="classe">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ECONOMICA" />
			<xs:enumeration value="EXECUTIVA" />
			<xs:enumeration value="PRIMEIRA_CLASSE" />
			<xs:enumeration value="ECONOMICA_PLUS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoApartamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDIVIDUAL" />
			<xs:enumeration value="DUPLO" />
			<xs:enumeration value="TRIPO" />
			<xs:enumeration value="QUADRUPLO" />
			<xs:enumeration value="TWIN" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="categoriaApartamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEM_INFORMACAO" />
			<xs:enumeration value="SIMPLES" />
			<xs:enumeration value="MEDIO_CONFORTO" />
			<xs:enumeration value="CONFORTAVEL" />
			<xs:enumeration value="MUITO_CONFORTAVEL" />
			<xs:enumeration value="LUXO" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sexo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FEMININO" />
			<xs:enumeration value="MASCULINO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="perfilFuncionario">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GESTOR" />
			<xs:enumeration value="APROVADOR" />
			<xs:enumeration value="SOLICITANTE" />
			<xs:enumeration value="PASSAGEIRO" />
			<xs:enumeration value="APROVADOR_MASTER" />
			<xs:enumeration value="PASSAGEIRO_TERCEIRO" />
			<xs:enumeration value="USUARIO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoCadastroFuncionario">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SELF_BOOKING" />
			<xs:enumeration value="FRONT_OFFICE" />
			<xs:enumeration value="FRONT_SELF" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="perfilAereo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ECONOMICA" />
			<xs:enumeration value="EXECUTIVA" />
			<xs:enumeration value="PRIMEIRA_CLASSE" />
			<xs:enumeration value="ECONOMICA_PLUS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="perfilHospedagem">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SIMPLES" />
			<xs:enumeration value="MEDIO_CONFORTO" />
			<xs:enumeration value="CONFORTAVEL" />
			<xs:enumeration value="MUITO_CONFORTAVEL" />
			<xs:enumeration value="LUXO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoDocumento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MATRICULA" />
			<xs:enumeration value="CPF" />
			<xs:enumeration value="RG" />
			<xs:enumeration value="PASSAPORTE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="remarks">
		<xs:sequence>
			<xs:element name="remark" type="tns:remark" nillable="true"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="remark">
		<xs:sequence>
			<xs:element name="campo" type="xs:string" minOccurs="0" />
			<xs:element name="valor" type="xs:string" minOccurs="0" />
			<xs:element name="criacao" type="xs:boolean" minOccurs="0"/>
			<xs:element name="finalizacao" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="moeda">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ARS" />
			<xs:enumeration value="BRL" />
			<xs:enumeration value="USD" />
			<xs:enumeration value="NUC" />
			<xs:enumeration value="EUR" />
			<xs:enumeration value="GBP" />
			<xs:enumeration value="JPY" />
			<xs:enumeration value="CNY" />
			<xs:enumeration value="PLN" />
			<xs:enumeration value="KHR" />
			<xs:enumeration value="CAD" />
			<xs:enumeration value="MXN" />
			<xs:enumeration value="COP" />
			<xs:enumeration value="AFA" />
			<xs:enumeration value="PEN" />
			<xs:enumeration value="SGD" />
			<xs:enumeration value="ZAR" />
			<xs:enumeration value="PYG" />
			<xs:enumeration value="CLP" />
			<xs:enumeration value="CHF" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="statusSolicitacao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONCLUIDA" />
			<xs:enumeration value="CANCELADA" />
			<xs:enumeration value="PENDENTE_APROVACAO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tipoSolicitacao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TODOS" />
			<xs:enumeration value="CORPORATIVO" />
			<xs:enumeration value="EXPENSE" />
			<xs:enumeration value="INCENTIVO" />
			<xs:enumeration value="TREINAMENTO" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="identificadoresIntegracao">
		<xs:sequence>
			<xs:element name="identificador" type="tns:identificador" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="identificador">
		<xs:sequence>
			<xs:element name="conector" type="xs:string" minOccurs="0" />
			<xs:element name="codigo" type="xs:string" minOccurs="0" />
			<xs:element name="tipoIntegracao" type="tns:tipoIntegracao"	minOccurs="0" />
			<xs:element name="nomeConectorLemontech" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="tipoIntegracao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONCLUSAO" />
			<xs:enumeration value="CANCELAMENTO" />
			<xs:enumeration value="PENDENCIA_APROVACAO" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipoColetaMulta">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCUMENTO" />
			<xs:enumeration value="TAXA" />
			<xs:enumeration value="TOTAL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regime">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAFE_DA_MANHA" />
			<xs:enumeration value="MEIA_PENSAO" />
			<xs:enumeration value="PENSAO_COMPLETA" />
			<xs:enumeration value="ALL_INCLUSIVE" />
			<xs:enumeration value="SO_HOSPEDAGEM" />
			<xs:enumeration value="JANTAR" />
			<xs:enumeration value="NAO_INCLUI" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoTarifa">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DIARIA" />
			<xs:enumeration value="FIM_DE_SEMANA" />
			<xs:enumeration value="MENSAL" />
			<xs:enumeration value="PACOTE" />
			<xs:enumeration value="SEMANAL" />
			<xs:enumeration value="HORA" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="planoAlimentar">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAFE_DA_MANHA" />
			<xs:enumeration value="MEIA_PENSAO" />
			<xs:enumeration value="PENSAO_COMPLETA" />
			<xs:enumeration value="JANTAR" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="coberturas">
		<xs:sequence>
			<xs:element name="cobertura" type="tns:cobertura" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cobertura">
		<xs:sequence>
			<xs:element name="descricao" type="xs:string" minOccurs="0" />
			<xs:element name="limite" type="xs:string" minOccurs="0" />
			<xs:element name="tipoCobertura" type="tns:tipoCobertura" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tipoCobertura">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COBERTURA" />
			<xs:enumeration value="ASSISTENCIA" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="consolidadora">
		<xs:sequence>
			<xs:element name="nome" type="xs:string" minOccurs="1"/>
			<xs:element name="identificadorIntegracao" type="xs:string" minOccurs="0"/>
			<xs:element name="identificadorIntegracaoAgencia" type="xs:string" minOccurs="0"/>
			<xs:element name="usuario" type="xs:string" minOccurs="0"/>
			<xs:element name="unidadeOperacional" type="xs:string" minOccurs="0"/>
			<xs:element name="unidadeOperacionalAdicional" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="tipoProduto">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AEREO" />
			<xs:enumeration value="HOTEL" />
			<xs:enumeration value="CARRO" />
			<xs:enumeration value="OUTRO" />
			<xs:enumeration value="SEGURO" />
			<xs:enumeration value="TRASLADO" />
			<xs:enumeration value="RODOVIARIO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumTipoFormaPagamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BILHETE" />
			<xs:enumeration value="EMD_MULTA" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumFornecedorVCN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WEX" />
			<xs:enumeration value="CONFERMA" />
			<xs:enumeration value="B2BPAY" />
			<xs:enumeration value="BRADESCOVCN" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="url">
		<xs:annotation>
			<xs:documentation>Formato para validar url
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern
				value="(https?://)?[-\w.]+(:\d{2,5})?(/([\w/_.]*)?)?" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="adiantamentoStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PENDENTE" />
			<xs:enumeration value="LIBERADO" />
			<xs:enumeration value="CANCELADO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tipoCredito">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEPOSITO" />
			<xs:enumeration value="CARTAO_CREDITO" />
			<xs:enumeration value="ESPECIE" />
			<xs:enumeration value="MISTO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="presacaoContasStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PENDENTE" />
			<xs:enumeration value="APROVADO" />
			<xs:enumeration value="REPROVADO" />
			<xs:enumeration value="AUTORIZACAO" />
			<xs:enumeration value="PENDENCIA_APROVADOR" />
			<xs:enumeration value="CANCELADO" />
			<xs:enumeration value="RETORNOU_SOLICITANTE" />
			<xs:enumeration value="REDIRECIONADA" />
			<xs:enumeration value="ITEM_ESTORNADO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="deslocamentoTerrestre">
		<xs:sequence>
			<xs:element name="latitudeOrigem" type="xs:string" minOccurs="0" />
			<xs:element name="longitudeOrigem" type="xs:string" minOccurs="0" />
			<xs:element name="latitudeDestino" type="xs:string" minOccurs="0" />
			<xs:element name="longitudeDestino" type="xs:string" minOccurs="0" />
			<xs:element name="distanciaPercorrida" type="xs:double" />
		</xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="tipoOperacaoBudget">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREDITO" />
			<xs:enumeration value="DEBITO" />
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="modalidadeLancamentoBudget">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RESIDUAL" />
			<xs:enumeration value="MENSAL" />
			<xs:enumeration value="ANUAL" />
			<xs:enumeration value="EXTRA" />
			<xs:enumeration value="ACERTO" />
			<xs:enumeration value="ATUALIZACAO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tipoDeSolicitacao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TODOS" />
			<xs:enumeration value="CORPORATIVO" />
			<xs:enumeration value="EXPENSE" />
			<xs:enumeration value="INCENTIVO" />
			<xs:enumeration value="TREINAMENTO" />
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="source">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AZUL" />
			<xs:enumeration value="TAM" />
			<xs:enumeration value="TAM_MERCOSUL" />
			<xs:enumeration value="GOL" />
			<xs:enumeration value="PASSAREDO" />
			<xs:enumeration value="META" />
			<xs:enumeration value="SETE" />
			<xs:enumeration value="PUMAAIR" />
			<xs:enumeration value="NHT" />
			<xs:enumeration value="MAP" />
			<xs:enumeration value="PIQUIATUBA" />
			<xs:enumeration value="AVIANCA" />
			<xs:enumeration value="AVIANCA_V2" />
			<xs:enumeration value="GOL_V2" />
			<xs:enumeration value="TRAVELPORT" />
			<xs:enumeration value="SABRE" />
			<xs:enumeration value="FLYWAYS" />
			<xs:enumeration value="LATAM" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="pontoVendaOrcamento">
    	<xs:sequence>
	    	<xs:element name="nomePontoVenda" type="xs:string" minOccurs="0" />
	    	<xs:element name="codBackOffice" type="xs:int" />
	    	<xs:element name="pccLocalVenda" type="xs:string" minOccurs="0" />
    	</xs:sequence>
    </xs:complexType>
    
     <xs:simpleType name="statusCancelamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REEMBOLSO" />
			<xs:enumeration value="CREDITO_CIA" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="classeRodoviario">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRIMEIRA_CLASSE" />
			<xs:enumeration value="CONVENCIONAL" />
			<xs:enumeration value="EXECUTIVO" />
			<xs:enumeration value="LEITO" />
			<xs:enumeration value="LEITO_CAMA" />
			<xs:enumeration value="SEMI_LEITO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="preferenciaAssentoRodoviario">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRENTE" />
			<xs:enumeration value="MEIO" />
			<xs:enumeration value="FUNDO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="localAssentoRodoviario">
		<xs:restriction base="xs:string">
			<xs:enumeration value="JANELA" />
			<xs:enumeration value="CORREDOR" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tipoParametrizacao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SOLICITACAO" />
			<xs:enumeration value="APROVACAO" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tipoTransacaoCartao">
		<xs:restriction base="xs:string">
			<xs:enumeration value="D" />
			<xs:enumeration value="CC" />
			<xs:enumeration value="C" />
			<xs:enumeration value="RC" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="qualificadorDespesa">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CARTAO_CREDITO" />
			<xs:enumeration value="UBER" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="agente">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LEMONTECH" />
			<xs:enumeration value="AGENCIA" />
			<xs:enumeration value="CLIENTE" />
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>