src/main/resources/wsdl-latest/xsd/beansHotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-.-->
<xs:schema version="1.0" 
		targetNamespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/hotel" 
		xmlns:tns="http://lemontech.com.br/selfbooking/wsselfbooking/beans/hotel" 
		xmlns:ns1="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" schemaLocation="beansTypes.xsd"/>
  
  <xs:complexType name="hoteis">
	<xs:sequence>
		<xs:element name="hotel" type="tns:hotel" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="hotel">
    <xs:sequence>
    	<xs:element name="id" type="xs:int" />
    	<xs:element name="codigoApartamento" type="xs:string" minOccurs="0" />
    	<xs:element name="nome" type="xs:string" minOccurs="0" />
    	<xs:element name="tipoApartamento" type="ns1:tipoApartamento" minOccurs="0" />
    	<xs:element name="source" type="xs:string" minOccurs="0" />
    	<xs:element name="codigoHotelSource" type="xs:string" minOccurs="0"/>
    	<xs:element name="checkIn" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="checkOut" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="idRegime" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="idCategApto" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="localizador" type="xs:string" minOccurs="0" />
    	<xs:element name="codigoEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="codigoReservador" type="xs:string" minOccurs="0" />
    	<xs:element name="nomeReservador" type="xs:string" minOccurs="0" />
    	<xs:element name="dataReserva" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="moeda" type="xs:string" minOccurs="0" />
    	<xs:element name="diaria" type="xs:double" minOccurs="0" />
    	<xs:element name="taxa" type="xs:double" minOccurs="0" />
    	<xs:element name="titularCartao" type="xs:string" minOccurs="0" />
    	<xs:element name="cartaoVirtual" type="xs:boolean" minOccurs="0" />
    	<xs:element name="formaPagamento" type="ns1:formaPagamento"	minOccurs="0" />
    	<xs:element name="idPassageiroRef" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="justificativaMaiorTarifa" type="xs:string" minOccurs="0"/>
    	<xs:element name="local" type="xs:string" minOccurs="0"/>
    	<xs:element name="cidade" type="xs:string" minOccurs="0"/>
    	<xs:element name="codigoFornecedor" type="xs:string" minOccurs="0"/>
    	<xs:element name="nacional" type="xs:boolean" minOccurs="0"/>
    	<xs:element name="observacao" type="xs:string" minOccurs="0"/>
    	<xs:element name="voucher" type="xs:string" minOccurs="0"/>
    	<xs:element name="codigoReserva" type="xs:string" minOccurs="0"/>
    	<xs:element name="codigoJustificativaMaiorTarifa" type="xs:string" minOccurs="0"/>
    	<xs:element name="identificadorIntegracao" type="xs:string" minOccurs="0" />
    	<xs:element name="identificadorBackOfficeTipoProduto" type="xs:string" minOccurs="0"/>
    	<xs:element name="remarks" type="ns1:remarks" minOccurs="0" />
    	<xs:element name="statusCancelamento" type="xs:int" minOccurs="0"/>
    	<xs:element name="taxaCancelamento" type="xs:double" minOccurs="0" />
    	<xs:element name="dataModificacaoStatusCancelamento" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="usuarioModificouStatusCancelamento" type="xs:int" minOccurs="0"/>
    	<xs:element name="categoriaApartamento" type="ns1:categoriaApartamento" minOccurs="0" />
    	<xs:element name="nomeEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="garantiaNoShow" type="ns1:garantiaNoShow" minOccurs="0" maxOccurs="1" />
    	<xs:element name="titularCartaoNoShow" type="xs:string" minOccurs="0" />
    	<xs:element name="cartaoVirtualNoShow" type="xs:boolean" minOccurs="0" />
    	<xs:element name="formaPagamentoGarantiaNoShow" type="ns1:formaPagamento"	minOccurs="0" />
    	<xs:element name="itensFaturamentoHotel" type="ns1:itensFaturamentoHotel" minOccurs="0" maxOccurs="1" />
    	<xs:element name="totalHotel" type="xs:double" minOccurs="0" />
    	<xs:element name="cancelado" type="xs:boolean"/>
    	<xs:element name="identificadoresIntegracao" type="ns1:identificadoresIntegracao" minOccurs="0" />
    	<xs:element name="taxaFee" type="xs:double" minOccurs="0"/>
    	<xs:element name="selfbook" type="xs:boolean" />
    	<xs:element name="tarifaComissionada" type="xs:boolean" />
    	<xs:element name="regime" type="ns1:regime" minOccurs="0" />
    	<xs:element name="tipoTarifa" type="ns1:tipoTarifa" minOccurs="0" />
    	<xs:element name="quantidadeTipoTarifa" type="xs:int" minOccurs="0"/>
    	<xs:element name="tarifa" type="xs:double" minOccurs="0" />
    	<xs:element name="valorCambio" type="xs:double" minOccurs="0" />
    	<xs:element name="earlyCheckin" type="xs:double" minOccurs="0" />
    	<xs:element name="lateCheckout" type="xs:double" minOccurs="0" />
    	<xs:element name="planoAlimentar" type="ns1:planoAlimentar" minOccurs="0" />
    	<xs:element name="quantidadePlanoAlimentar" type="xs:int" minOccurs="0"/>
    	<xs:element name="valorPlanoAlimentar" type="xs:double" minOccurs="0" />
    	<xs:element name="prazoCancelamento" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="consolidadora" type="ns1:consolidadora" minOccurs="0" />
    	<xs:element name="online" type="xs:boolean" />
    	<xs:element name="dataConfirmacaoReserva" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="moedaBase" type="xs:string" minOccurs="0" />
    	<xs:element name="diariaBase" type="xs:double" minOccurs="0" />
    	<xs:element name="taxaBase" type="xs:double" minOccurs="0" />
    	<xs:element name="earlyCheckinBase" type="xs:double" minOccurs="0" />
    	<xs:element name="lateCheckoutBase" type="xs:double" minOccurs="0" />
    	<xs:element name="agenteOnline" type="xs:boolean" />
    	<xs:element name="importado" type="xs:boolean" />
    	<xs:element name="telefone" type="xs:string" minOccurs="0" />
    	<xs:element name="pais" type="xs:string" minOccurs="0"/>
    	<xs:element name="estado" type="xs:string" minOccurs="0"/>
    	<xs:element name="pontoVenda" type="ns1:pontoVendaOrcamento" minOccurs="0" />
    	<xs:element name="emailEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="iataCidade" type="xs:string" minOccurs="0" />
    	<xs:element name="localizadorPreTrip" type="xs:string" minOccurs="0" />
    	<xs:element name="identificadorUnidadeOperacional" type="xs:int" />
    	<xs:element name="cnpjFornecedor" type="xs:string" minOccurs="0"/>
    	<xs:element name="valorTotalExtras" type="xs:double" minOccurs="0" />
    	<xs:element name="valorMenorTarifaSaving" type="xs:double" minOccurs="0" />
    	<xs:element name="taxaServico" type="xs:double" minOccurs="0" />
    	<xs:element name="agenteCotacao" type="ns1:agente" minOccurs="0" maxOccurs="1" />
    	<xs:element name="agenteEmissao" type="ns1:agente" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosHoteis">
	<xs:sequence>
		<xs:element name="pedidoHotel" type="tns:pedidoHotel" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoHotel">
	<xs:sequence>
		<xs:element name="cidade" type="xs:string" minOccurs="1" />
		<xs:element name="estado" type="xs:string" minOccurs="1">
			<xs:annotation>
				<xs:documentation>Ex: MT,RJ,PE...</xs:documentation>
			</xs:annotation>		
		</xs:element>
		<xs:element name="pais" type="xs:string" minOccurs="1" />
		<xs:element name="checkIn" type="xs:dateTime" minOccurs="1" />
		<xs:element name="checkOut" type="xs:dateTime" minOccurs="1" />
		<xs:element name="tipoApartamento" type="ns1:tipoApartamento" minOccurs="0" default="INDIVIDUAL"/>
		<xs:element name="categoriaApartamento" type="ns1:categoriaApartamento" minOccurs="0" />
	</xs:sequence>
  </xs:complexType>
</xs:schema>