src/main/resources/wsdl-latest/xsd/beansOutro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-.-->
<xs:schema version="1.0" targetNamespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/outro" xmlns:tns="http://lemontech.com.br/selfbooking/wsselfbooking/beans/outro" xmlns:ns1="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://lemontech.com.br/selfbooking/wsselfbooking/beans/types" schemaLocation="beansTypes.xsd"/>
  <xs:complexType name="outros">
	<xs:sequence>
		<xs:element name="outros" type="tns:outro" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="outro">
    <xs:sequence>
    	<xs:element name="id" type="xs:int" />
    	<xs:element name="codigoEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="nomeEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="codigoReservador" type="xs:string" minOccurs="0" />
    	<xs:element name="nomeReservador" type="xs:string" minOccurs="0" />
    	<xs:element name="descricao" type="xs:string" minOccurs="0" />
    	<xs:element name="valor" type="xs:double" minOccurs="0" />
        <xs:element name="dataInicial" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="dataFinal" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="dataReserva" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="codigoFornecedor" type="xs:string" minOccurs="0" />
    	<xs:element name="obsEmissor" type="xs:string" minOccurs="0" />
    	<xs:element name="maiorTarifa" type="xs:double" minOccurs="0" />
    	<xs:element name="menorTarifa" type="xs:double" minOccurs="0" />
    	<xs:element name="formaPagamento" type="ns1:formaPagamento" minOccurs="0" />
    	<xs:element name="idPassageiroRef" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="justificativaMaiorTarifa" type="xs:string" minOccurs="0"/>
    	<xs:element name="statusCancelamento" type="xs:int" minOccurs="0"/>
    	<xs:element name="taxaCancelamento" type="xs:double" minOccurs="0" />
    	<xs:element name="dataModificacaoStatusCancelamento" type="xs:dateTime" minOccurs="0" />
    	<xs:element name="usuarioModificouStatusCancelamento" type="xs:int" minOccurs="0"/>
    	<xs:element name="codigoJustificativaMaiorTarifa" type="xs:string" minOccurs="0"/>
    	<xs:element name="identificadorIntegracao" type="xs:string" minOccurs="0" />
    	<xs:element name="identificador" type="xs:string" minOccurs="0"/>
    	<xs:element name="categoria" type="xs:string" minOccurs="0"/>
    	<xs:element name="identificadorBackOfficeTipoProduto" type="xs:string" minOccurs="0"/>
    	<xs:element name="autorizacaoCartao" type="xs:string" minOccurs="0" />
    	<xs:element name="taxa" type="xs:double" minOccurs="0" />
    	<xs:element name="remarks" type="ns1:remarks" minOccurs="0" />
    	<xs:element name="totalOutro" type="xs:double" minOccurs="0" />
    	<xs:element name="cancelado" type="xs:boolean"/>
    	<xs:element name="identificadoresIntegracao" type="ns1:identificadoresIntegracao" minOccurs="0" />
    	<xs:element name="taxaFee" type="xs:double" minOccurs="0"/>
    	<xs:element name="consolidadora" type="ns1:consolidadora" minOccurs="0" />
    	<xs:element name="moeda" type="xs:string" minOccurs="0" />
    	<xs:element name="pontoVenda" type="ns1:pontoVendaOrcamento" minOccurs="0" />
    	<xs:element name="emailEmissor" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>